---
layout: layout.liquid
---
<ul class="list-group list-group-flush ">
    {%- for pokemon in pokemons %}
    <li>
        <a class="list-group-item list-group-item-action list-group-item-dark text-capitalize" href="{{ pokemon.name | slug }}/">
            <img src="{{ pokemon.sprites.front_default }}" style="max-height: 4em;"></img>
            #{{ pokemon.id}} {{pokemon.name}}
        </a>
    </li>
    {%- endfor %}
</ul>